<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<div class="canvas">
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
		<rect></rect>
	</div>
</body>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="d3.js"></script>

</html>
